<!doctype html>

<html>


<head>

    <meta charset="utf-8">
    <link rel="stylesheet" href="static/style.css">
    <title>Papy Bot</title>

</head>


<body>

    <header>

        <h1>Les extraordinaires histoires de Papy Bot</h1>
        <img class="logo" src="{{ url_for('static', filename='images/logopapybot.png')}}">

    </header>

    
    <p class="dialogue"></p>
    
    <form method="post">
        <p>
            <textarea name="question" id="question" autofocus></textarea>
        </p>

    </form>

    <button class="question" id="bouton">Questionner</button>    
    

    <footer>

    <p>Je suis Lucas Sniezak. Retrouvez-moi <a href="https://www.linkedin.com/in/lucas-sniezak-2a4329169">ici</a>. Vous pouvez également retrouver le code de ce projet sur <a href="https://github.com/Ameliolu/Projet7">Github</a>.

    </footer>

    <script src="static/jquery-3.4.1.min.js"></script>
    <script src="static/cours2.js"></script>


</body>


</html>