<!doctype html>

<html>


<head>

    <meta charset="utf-8">
    <link rel="stylesheet" href="static/style.css">
    <title>Papy Bot</title>

</head>


<body>

    <header>

        <h1>Les extraordinaires histoires de Papy Bot</h1>

    </header>

    
    <p class="dialogue">Bonjour mon enfant, as-tu une question ?</p>
    

    <footer>

        <form method="post">
            <p>
                <textarea name="question" id="question" autofocus></textarea>
            </p>
            
        <!-- <button id="bouton" formmethod="post">Questionner</button> -->

        </form>

        <button id="bouton">Questionner</button>

    </footer>

    <script src="static/jquery-3.4.1.min.js"></script>
    <script src="static/cours2.js"></script>


</body>


</html>